@import url('https://fonts.googleapis.com/css2?family=Lalezar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hurricane&display=swap');

:root {
  --header-font: lucida handwriting, cursive;
  --hand-font: Hurricane, cursive;
    
   background: #f2f3f9;
}

.text {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50px;
  margin: 1em auto;
}
.synthwave-title {
  --border-color: #572283;
  
  display: inline-flex;
  font-family: var(--header-font);
  font-size: 4rem;
  height: 80px;
  line-height: 80%;
  background: 
    linear-gradient(to bottom, #001a4e 15%, #003eaa 25%, #fffffa 50%, #000100 50%, #8a148c 75%, #deaae3),
    linear-gradient(to bottom, #fff 37%, #242960 38%, #fff 95%);
  color: #572283;
  -webkit-background-clip: text;
  webkit-text-f-ill-color: transparent;
  filter:
    drop-shadow(-2px 0 0 var(--border-color))
    drop-shadow(2px 0 0 var(--border-color))
    drop-shadow(0 2px 0 var(--border-color))
    drop-shadow(0 -2px 0 var(--border-color))
    drop-shadow(5px 5px 3px #000)
    drop-shadow(0 0 4px #0e0480);
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

:root {
  --primary-color: #f1f3ed;
  --secondary-color: #ebebf3;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--primary-color);
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

header {
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
  background-color: var(--secondary-color);
}
.search {
  background-color: transparent;
  border: 2px solid var(--primary-color);
  border-radius: 50px;
  font-family: inherit;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  color: #fff;
}

.search::placeholder {
  color: #7378c5;
}

.search:focus {
  outline: none;
  background-color: var(--primary-color);
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movie {
  width: 300px;
  margin: 1rem;
  background-color: var(--secondary-color);
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;
  border-radius: 3px;
}

.movie img {
  width: 100%;
}

.movie-info {
  color: rgb(10, 1, 1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap:0.2rem;
  padding: 0.5rem 1rem 1rem;
  letter-spacing: 0.5px;
}

.movie-info h3 {
  margin-top: 0;
}

.movie-info span {
  background-color: var(--primary-color);
  padding: 0.25rem 0.5rem;
  border-radius: 3px;
  font-weight: bold;
}

.movie-info span.green {
  color: lightgreen;
}

.movie-info span.orange {
  color: orange;
}

.movie-info span.red {
  color: red;
}

.overview {
  background-color: var(--secondary-color);
  filter: blur;
  padding: 2rem;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  max-height: 100%;
  transform: translateY(101%);
  overflow-y: auto;
  transition: transform 0.3s ease-in;
}

.movie:hover .overview {
  transform: translateY(0);
}
